<html DOCTYPE="HTML">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/fredsez.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center"><h4>lex.purplepromise.xyz</h4></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-xs-12 text-center"><h4>chatroom</h4></div>
            </div>
            <div class="row box-row">
                <div class="col-xs-12 box-col" id="box">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-inline">
                        <div class="form-group" style="width:100%">
                            <div class="row">
                                <div class="col-xs-3 nopadding">
                                    <input id="name" class="form-control" placeholder="My Name..." autocomplete="off">
                                </div>
                                <div class="col-xs-8 nopadding">
                                    <input id="message" class="form-control" placeholder="My Message..." autocomplete="off">
                                </div>
                                <div class="col-xs-1 nopadding">
                                    <button id="send-button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-send "aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1  col-sm-12">
            <div class="row">
                <div class="col-xs-12 text-center"><h4>chatbot</h4></div>
            </div>
            <div class="row box-row">
                <div id="bot" class="col-xs-12 box-col"></div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-right slider-label">
                    Monitor <span id="monitor-label-id">On</span>
                </div>
                <div class="col-xs-6 text-left">
                    <input id="monitor-slider" type="range" min="0" max="1" step="1" value="1"  class="slider" onchange="(this.value==1)?$('#monitor-label-id').html('On'):$('#monitor-label-id').html('Off')" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.0.11.min.js"></script>
<script>
    var PUBNUB_PUBLISH_KEY = '{{pubnub_publish_key}}';
    var PUBNUB_SUBSCRIBE_KEY = '{{pubnub_subscribe_key}}';
    var PUBNUB_CHATROOM_CHANNEL = '{{pubnub_chatroom_channel}}';
    var PUBNUB_CHATBOT_CHANNEL = '{{pubnub_chatbot_channel}}';
</script>
<script src="static/app.js"></script>
</body>
</html>
