<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>links</title>
</head>
<body>
<ul>
    <li>apps</li>
    <ul>
        <li><a target="_blank" href="https://purplepromise.xyz">https://purplepromise.xyz</a></li>
        <li><a target="_blank" href="https://lex.purplepromise.xyz">https://lex.purplepromise.xyz</a></li>
        <li><a target="_blank" href="http://alexa.amazon.com/spa/index.html#skills">Alexa Companion App</a></li>
    </ul>
    <li>alexa and lex</li>
    <ul>
        <li><a target="_blank" href="https://developer.amazon.com">https://developer.amazon.com</a></li>
        <li><a target="_blank" href="https://aws.amazon.com">https://aws.amazon.com</a></li>
    </ul>
    <li>other</li>
    <ul>
        <li><a target="_blank" href="https://pubnub.com">https://pubnub.com</a></li>
        <li><a target="_blank" href="https://twilio.com">https://twilio.com</a></li>
        <li><a target="_blank" href="https://digitalocean.com">https://digitalocean.com</a></li>
    </ul>
</ul>
</body>
</html>