
body {
    background: url(../static/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


.container {
    width: 90%;
    margin: 10px auto 0 auto;
}

.bubble-wrapper {
    display: block;
}

.fred-bubble {
    border: 0 solid;
    border-radius: 1em;
    color: #ffffff;
    background-color: #db8600;
    margin-top: 10px;
    padding: 5px 10px;
    float: left;
    width: 90%;
}

.fred-bottom {
    border: 0 solid;
    background-color: #db8600;
    padding: 0;
}

.fred-bottom .pointy-thing-left {
    border: 0 solid;
    border-top-right-radius: 1em;
    background-color: #ffffff;
    height: 1em;
    width: 10%;
    float: left;
}

.fred-bottom .pointy-thing-right {
    border: 0 solid;
    border-top-left-radius: 1em;
    background-color: #ffffff;
    height: 1em;
    width: 90%;
    float: right;
}

.other-bubble {
    border: 0 solid;
    border-radius: 1em;
    color: #777777;
    background-color: #dddddd;
    margin-top: 10px;
    padding: 5px 10px;
    float: left;
    width: 90%;
}

.other-bottom {
    border: 0 solid;
    background-color: #dddddd;
    padding: 0;
}

.other-bottom .pointy-thing-left {
    border: 0 solid;
    border-top-right-radius: 1em;
    background-color: #ffffff;
    height: 1em;
    width: 10%;
    float: left;
}

.other-bottom .pointy-thing-right {
    border: 0 solid;
    border-top-left-radius: 1em;
    background-color: #ffffff;
    height: 1em;
    width: 90%;
    float: right;
}

.me-bubble {
    border: 0 solid;
    border-radius: 1em;
    color: #ffffff;
    background-color: #007cd4;
    margin-top: 10px;
    padding: 5px 10px;
    float: right;
    width: 90%;
}

.me-bottom {
    border: 0 solid;
    background-color: #007cd4;
    padding: 0;
}

.me-bottom .pointy-thing-left {
    border: 0 solid;
    border-top-right-radius: 1em;
    background-color: #ffffff;
    height: 1em;
    width: 90%;
    float: left;
}

.me-bottom .pointy-thing-right {
    border: 0 solid;
    border-top-left-radius: 1em;
    background-color: #ffffff;
    height: 1em;
    width: 10%;
    float: right;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }

    .box-col {
        height: 350px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

input {
    color: #444444;
}

#message, #name {
    width: 100%;
}

#name {
    background-color: rgba(172, 73, 255, 0.34);
    color: white;
}

.box-row {
    margin-bottom: 20px;
}

#name::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffffff;
}

#name:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    opacity: 1;
}

#name::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}

#name:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.box-col {
    background-color: #ffffff;
    color: #444444;
    font-size: 1em;
    height: 450px;
    overflow-y: scroll;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
}

.slider {
    width: 60px !important;
}

.slider-label {
    font-size: 1.2em;
}

.message-wrapper {
    margin-bottom: 3px;
    border-bottom: 1px solid #dddddd;
}

.handle {
    color: purple;
    margin-right: 3px;
}

.message {
    color: #444;
}

#send-button {
    background: none;
    border: none;
    box-shadow: none;
    color: #ffffff;
    margin-top: -2px;
    margin-left: -5px;
}

#send-button:hover {
    color: rgb(206, 170, 255);
}

#sample-select {
    width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select,
    textarea,
    input {
        font-size: 16px;
    }

    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
        background: #eee;
    }
}